.main {
  height: 100vh;
  display: flex;
}

.window__left {
  flex: 1;
  display: none;
  flex-direction: column;
}

.window__videos {
  flex-grow: 1;
  background-color: #CBC3E3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.window__controls {
  background-color: black;
}

#participants {
  flex: 0.2;
  background-color: white;
}

.window__right {
  overflow-y: auto;
  overflow-x: scroll;
  flex: 1;
  padding: 10px;
}

.window__controls {
  color: #7875B5;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.window__controls__block {
  display: flex;
}

.window__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}

.window__controls__button:hover {
  background-color: #4C489D;
  border-radius: 5px;
}

.window__controls__button i {
  font-size: 24px;
}

.window__right {
  height: 100vh;
  display: flex;
  flex=0.8;
  background-color: #7875B5;
  flex-direction: column;
  overflow-y: auto;
}

.window__header {
  padding-top: 5px;
  color: black;
  text-align: center;
}

.window__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.messages {
  color: white;
  list-style: none;
}

.window__message_container {
  padding: 22px 12px;
  display: flex;
}

.window__message_container input {
  flex-grow: 1;
  border: none;
  outline: none;
  display: flex;
  padding: 10px 10px;
}

.leave_meeting {
  color: #EB534B;
}

.unmute, .stop {
  color: #CC3B33;
}

@media only screen and (max-width: 650px) {
  .window__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: scroll;
  }

  .window__right {
    display: none;
    background-color: white;
    border-radius: 35px;
    overflow-y: auto;
    overflow-x: scroll;
    flex: 0.8;
    padding: 10px;
    margin-right: 20px;
  }

  .window__controls {
    color: #7875B5;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    padding: 5px;
  }

  .window__videos {
    flex-grow: 1;
    background-color: #CBC3E3;
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}
